name: Test concourse-ci-machine charm

on:
  push:
    branches:
      - main

jobs:
  test-charm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup LXD
        uses: canonical/setup-lxd@v1
        with:
          channel: 5.21/stable

      - name: Install Juju
        run: |
          sudo snap install juju
          sudo snap install juju-wait --classic
      - name: Bootstrap Juju
        run: sudo juju bootstrap localhost --config test-mode=true
      - name: Add Juju Model
        run: sudo juju add-model concourse-ci

      - name: Deploy charms
        run: |
          sudo juju deploy concourse-ci-machine concourse-ci --channel edge --config deployment-mode=all
          sudo juju deploy postgresql --channel 16/stable
      - name: Relate charms
        run: sudo juju relate concourse-ci:postgresql postgresql:database

      - name: Wait for model to settle
        run: sudo juju-wait -m concourse-ci -t 900

      - name: Juju Status
        run: sudo juju status

      - name: Get admin password
        run: |
          sudo juju run concourse-ci/leader get-admin-password | grep "password:" | awk '{print $2}' > admin-password.txt

      - name: Get Concourse IP
        run: |
          sudo juju status | grep "concourse-ci/" | awk '{print $5}' > concourse-ip.txt

      - name: Install fly CLI
        run: |
          curl -Lo fly "http://$(cat concourse-ip.txt):8080/api/v1/cli?arch=amd64&platform=linux"
          chmod +x ./fly
          sudo mv ./fly /usr/local/bin/

      - name: Create pipeline
        run: |
          cat <<EOF > pipeline.yml
          jobs:
          - name: hello-world
            plan:
            - task: say-hello
              config:
                platform: linux
                image_resource:
                  type: registry-image
                  source:
                    repository: busybox
                run:
                  path: echo
                  args: ["Hello, world!"]
          EOF

      - name: Install yq
        run: sudo snap install yq

      - name: Validate pipeline YAML
        run: yq e . pipeline.yml > /dev/null

      - name: Deploy and trigger pipeline
        run: |
          export CONCOURSE_URL=$(cat concourse-ip.txt)
          export CONCOURSE_PASSWORD=$(cat admin-password.txt)
          fly -t ci login -c http://$CONCOURSE_URL:8080 -u admin -p $CONCOURSE_PASSWORD
          fly -t ci set-pipeline -p hello-world -c pipeline.yml -n
          fly -t ci trigger-job -j hello-world/hello-world
          fly -t ci builds
