name: Test concourse-ci-machine charm

on:
  push:
    branches:
      - main

jobs:
  test-charm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Juju
        uses: juju/setup-juju@main
        with:
          channel: 3.4/stable

      - name: Deploy charm
        run: juju deploy concourse-ci-machine --channel edge --config deployment-mode=all

      - name: Wait for model to settle
        run: juju wait -m default --for=settled --timeout=15m
