name: Test concourse-ci-machine charm

on:
  push:
    branches:
      - main

jobs:
  test-charm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install and init LXD
        run: |
          sudo snap install lxd
          sudo lxd init --auto
          sudo usermod -a -G lxd $USER
      - name: Configure LXD mirror
        run: |
          cat <<EOF | sudo lxc profile edit default
          config:
            cloud-init.user-data: |
              #cloud-config
              apt:
                mirror: http://azure.archive.ubuntu.com/ubuntu/
          EOF
      - name: Install Juju
        run: |
          sudo snap install juju
          sudo snap install juju-wait --classic
      - name: Bootstrap Juju
        run: for i in $(seq 1 5); do sudo juju bootstrap localhost --config test-mode=true && break; sleep 10; done

      - name: Deploy charm
        run: sudo juju deploy concourse-ci-machine --channel edge --config deployment-mode=all

      - name: Wait for model to settle
        run: sudo juju wait -m default --for=settled --timeout=15m
